.sec-button {
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &__front {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 150px 0 100px;
    color: #fff;
    text-align: center;
  }

  &__back {
    background: url("@{img-dir}backgrounds/background.jpg") no-repeat center fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(28, 64, 25, 0.5);
      opacity: .75;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 70%;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(28, 64, 25, 0.5), rgba(0, 0, 0, 0));
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.gate-btn {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  //& * {
  //  box-sizing: content-box;
  //}

  >span {
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    display: block;
    text-align: center;
    white-space: nowrap;
    transition: transform 0.2s ease-in-out;
  }

  &__line {
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.4);
  }

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 50%;
    height: 100%;
    transform: rotate(45deg);
    //transition: transform 0.6s ease-in-out, border-color 0.6s ease-in;
  }

  &:after {
    position: absolute;
    top: 0 ;
    left: 0;
    display: block;
    z-index: 4;
    content: " ";
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 150px;
    height: 150px;
    transition: transform 0.2s ease-in-out;
  }

  //&:hover {
  //  cursor: default;
  //
  //  >span {
  //    transform: scale(1.3) translateY(-50%);
  //    color: white;
  //  }
  //
  //  &:after {
  //    transform: scale(1.1);
  //  }
  //}
}

//.gt50 {
//
//  & .fill{
//    position: absolute;
//    border: .08em solid transparent;
//    width: .84em;
//    height: .84em;
//    clip: rect(0,.5em,1em,0);
//    border-radius: 50%;
//    transform: rotate(180deg);
//    transition: border-color 0.6s ease-in;
//  }
//  & .slice {
//    transition: clip 0.6s ease-in;
//  }
//}

@media (max-width: 960px) {
  .sec-login {
    &__front{
      padding: 50px 0 80px;
      justify-content: space-between;
    }
  }
}

@keyframes line_rotate {
  0% {

  }
  100% {
    transform: rotate(360deg);
  }
}
