@import "../fa/brands";

.sec-login {
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &__front {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 150px 0 100px;
    color: #fff;
    text-align: center;
  }

  &__back {
    background: url("@{img-dir}backgrounds/background.jpg") no-repeat center fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(28, 64, 25, 0.5);
      opacity: .75;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 70%;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(28, 64, 25, 0.5), rgba(0,0,0, 0));
    }
  }

  &__logo {
    margin-bottom: 150px;
    position: relative;
    & > img {
      height: 100px;
    }
  }

  &__note {
    margin-bottom: 35px;
    font-size: 30px;
    text-align: center;
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  line-height: 100px;
  font-weight: 500;
  font-size: 65px;

  & > li {
    padding: 0 25px;
  }

  & a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease-in-out;

    &:hover {
      color: #197C28;
    }
  }
}

.icon {
  display: block;
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-style: normal;

  &_vkontakte {
    &:before {
      content: @fa-var-vk;
    }
  }

  &_yandex {
    &:before {
      content: @fa-var-yandex;
    }
  }

  &_google {
    &:before {
      content: @fa-var-google;
    }
  }

  &_instagram {
    &:before {
      content: @fa-var-instagram;
    }
  }
}
