:root {
  --green: #68dfab;
  --gray: #f5f5f5;
  --yellow: #f7d942;
}

.gates {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    height: 100%;
    place-items: center;
    column-gap: 5px;
  }

  &__item {
    min-width: 120px;
    font-size: 1.1rem;
    text-transform: capitalize;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 0.75em 1.25em;
    border-radius: 50px;
    display: inline-block;
    color: #646464;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(var(--green)),
      to(var(--gray))
    );
    background: linear-gradient(to right, var(--yellow), var(--gray));
    z-index: 3;
    transform: translate(0, -3px);

    &--active {
      color: #313131;
      background: linear-gradient(to right, var(--green), var(--gray));
      transform: none;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -10px;
      left: 5%;
      height: 110%;
      width: 90%;
      opacity: 0.8;
      border-radius: 50px;
      background: inherit;
      filter: blur(5px);
      transition: all 0.3s;
    }

    &--active:after {
      filter: blur(8px);
      width: 100%;
      bottom: -5px;
      left: 0;
    }
  }
}
