{% extends 'layout.html.twig' %}

{#{% set init_timer = 30 %}#}

{% block body %}
    <div class="site-wrapper">
        <main class="site-main">
            <section class="sec-button">
                <div class="sec-button__back"></div>
                <div class="sec-button__front">
                    <div class="sec-login__logo">
                        <img src="{{ asset('img/astra_logo.png') }}" alt="Астра">
                    </div>
                    <div class="container">
                        <div class="button-wrapper">
                            <div class="progress-bar round-button" id="gate-button"></div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="init-state" data-init-timer="{{ init_timer | default(0) }}"
                                 data-token="{{ centrifugo_token }}"
                 style="display: none"></div>
        </main>
    </div>

{% endblock body %}
